ie13_PI_iTraCE.ocn.SST.degC.0001-0400.ANN.nc
Figs/icesm13_data_first_timestep.jpg
Figs/icesm13_peak_analysis_icesm13_0m_16.67yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_17.86yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_18.18yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_20.00yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_50.00yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_58.82yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_60.61yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_60.98yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_61.35yrs.jpg
Figs/icesm13_peak_analysis_icesm13_0m_66.67yrs.jpg
Figs/icesm13_spectrum.jpg
Figs/ori_conf.png
Figs/ori.png
__pycache__/mtm_functions.cpython-311.pyc
__pycache__/test.cpython-311.pyc
.vscode/settings.json
icesm13_lfv_conf.nc
